<footer class="footer-container">
    <div class="footer">
        <h6>Nous suivre</h6>
        <p>Restez à l'affût des dernières nouveautés en nous suivant sur les réseaux sociaux ou en vous abonnant à
            notre newsletter. Soyez parmi les premiers à découvrir nos offres exclusives, événements spéciaux et
            bien plus encore !</p>
        <div class="social-icons">
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-whatsapp"></i>
            <i class="fab fa-youtube"></i>
        </div>
        <div class="custom-search2">
            <input type="text" class="custom-search2-input" placeholder="Email Address ">
            <button class="custom-search2-botton" type="submit">Subscribe</button>
        </div>
    </div>
</footer>
